{% if 'suap_token' in session %}
<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container-fluid ">
    <div class="container d-flex justify-content-start align-items-center gap-3">
      <a class="navbar-brand nav-link pointer" href="{{url_for('index')}}"><img class="computer" src="{{ url_for('static', filename='img/computer.png') }}" alt="computer"></a>
      <a class="nav-link pointer" href="{{url_for('index')}}">Inicio</a>
      <a class="nav-link pointer" href="{{url_for('boletim')}}">Boletins</a>
      <a class="nav-link pointer" href="{{url_for('logout')}}">Sair</a>
    </div>
  </div>
</nav>
{% endif %}