
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
  --white-main: #F5F4F4;
  --black-main: #0d1117;
  --grey-secondary: #3b3b3b;
  --grey-main: #BCBDBD;
  --purple-secondary: #a772cd;

  --border-radius: 50px;
}

*{
  font-family: "Nunito", sans-serif;
  font-style: normal;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  color: var(--black-main);
  background-color: var(--white-main);

  height: 100vh;
  width: 100%;
}

/* h1, h2, h3 {
  line-height: 1.2;
  font-weight: 600;
} */

nav {
  background: var(--grey-main);
  border-bottom: #0d1117 solid 3px;
  font-weight: bold;
  height: 3.5rem;
}

.nav-link {
  font-size: 1rem;
}


.content {
  max-width: 650px;
  position: relative;
  top: 5.5rem;
  border: #0d1117 solid 3px;
}

.title-content {
  background: var(--grey-main);
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: var(--black-main) solid 3px;
  height: 2.5rem;
  padding: .5rem;
}

.user-content {
  padding: 20px;
}

.info-text {
  font-weight: bold;
}

.user-content .pfp {
  border-radius: 50%;
  object-fit: cover;
  width: 12em;
  height: 12em;
  border: #0d1117 solid 3px;
}

.content:hover {
  box-shadow: 10px 10px var(--grey-secondary);
  transform: scale(1.01);
  transition: ease-out 0.2s;
}

.gato-estudando {
  width: 10rem;
  height: 10rem;
}

.bolinha {
  cursor: pointer;
}

@media (max-width: 652px) {
  body {
    padding-left: 10px;
    padding-right: 10px;
  }

  .content {
    margin-bottom: 40px;
  }
}