
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
  --white-main: #F5F4F4;
  --black-main: #0d1117;
  --grey-secondary: #3b3b3b;
  --grey-main: #BCBDBD;

  --border-radius: 50px;
}

*{
  font-family: "Nunito", sans-serif;
  font-style: normal;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: url("/static/img/cursor.png"), auto;
}

body {
  font-size: 1rem;
  color: var(--black-main);
  background-color: var(--white-main);

  height: 100vh;
  width: 100%;
}

nav {
  background: var(--grey-main);
  border-bottom: var(--black-main) solid 3px;
  font-weight: bold;
  height: 3.5rem;
}

a{
  color: var(--black-main);
}

hr{
  border: var(--grey-main) solid 2px;
  opacity: 1;
}

.pointer{
  cursor: url("/static/img/poiter.png") 6 0, pointer;
  *{
    cursor: inherit;
  }
}

.move{
  cursor: url("/static/img/move.png"), pointer;
  *{
    cursor: inherit;
  }
}

.nav-link {
  font-size: 1rem;
  transition: ease-out 0.2s;
  &:hover{
    transform: scale(1.15);
  }
}


.content {
  width: 800px;
  min-width: 650px;
  position: relative;
  top: 5.5rem;
  border: var(--black-main) solid 3px;
}

.title-content {
  background: var(--grey-main);
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: var(--black-main) solid 3px;
  height: 2.5rem;
  padding: .5rem;
}

.user-content {
  padding: 20px;
}

.title{
  font-weight: bolder;
}

.info-text {
  font-weight: bold;
}

.user-content .pfp {
  border-radius: 50%;
  object-fit: cover;
  width: 12em;
  height: 12em;
  border: var(--black-main) solid 3px;
}

.login-content{
  height: 30svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btn{
  display: flex;
  align-items: center;
  height: 10dvh;
  width: 40dvh;
  padding: 2vh;
  font-weight: 600;
  text-decoration: none;
  border: var(--black-main) solid .2rem;
  background-color: var(--grey-main);
  &:hover{
    transform: scale(1.05);
    font-weight: 800;
    transition: ease-out 0.2s;
    i{font-weight: 800;}
  }
}

.circle {
  height: 1.8svh;
  width: 1.8svh;
  border-radius: 25px;
  border: var(--black-main) solid .2rem;
}

.content:hover {
  box-shadow: 10px 10px var(--grey-secondary);
  transform: scale(1.01);
  transition: ease-out 0.2s;
}

.gato-estudando {
  width: 10rem;
  height: 10rem;
}

.d-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.boletim-content {
  width: 1500px !important;
}

.select {
  border: #0d1117 solid 3px;
  background: var(--grey-main);
  padding: 5px;
  font-weight: bold;
}

.computer{
  width: 2rem;
}

@media (max-width: 652px) {
  body {
    padding-left: 10px;
    padding-right: 10px;
  }

  .content {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .login-btn{
    width: 35dvh;
    height: 7dvh;
  }
}