<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>RETRO SUAP - {% block title %}{% endblock title %}</title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='img/computer.png') }}" type="image/x-icon">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

</head>
<body>
  {% include "partials/navbar.html" %}
  {% block content %}{% endblock content %}
</body>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"/></script>
  <script src="{{ url_for('static', filename='js/draggable.js') }}"/></script>
</html>