{% extends "base.html" %}

{% block title %}Inicio{% endblock title %}

{% block content %}
  <div class="container d-center">
    <div id="draggable" class="content">
      <div class="title-content move">
        <div class="gap-1 d-flex align-items-center">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
        <div class="mx-auto fw-bold">login.exe</div>
      </div>
      <div class="login-content">
        <a class="login-btn pointer fs-4" href="{{url_for('login')}}">
          <div class="me-auto">
            Entrar com SUAP
          </div>
          <img src="{{ url_for('static', filename='img/arrow.png') }}" alt="seta">
        </a>
      </div>
    </div>
  </div>
{% endblock content %}